/*html, body {*/
    /*height: 100%;*/
    /*max-width: 500px;*/
    /*margin: 0 auto;*/
    /*background-color: red;*/
/*}*/

/*#icon-target {*/
    /*height: 100%;*/
    /*width: 150px;*/
    /*float: left;*/
/*}*/


/*.right {*/
    /*float: right;*/
/*}*/

/*.left {*/
    /*float: left;*/
/*}*/

/*div.right {*/
    /*height: 100%;*/
/*}*/

#icon-target.mousein {
    border: 5px #e6e6e6 solid;
}

#img-target {
    width: 95%;
    height: auto;
    /*object-fit: contain;*/
    object-fit: cover;
    overflow: hidden;
}

#img-target.mousein {
    width: 80%;
    height: auto;
}

.myarticle {
    height: 250px;
    overflow-y: auto;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

.simpleBorder {
    border: 1px solid red;
}
.simpleBorder2 {
    border: 1px solid green;
}

#description {
    border: 2px #0088cc solid;
    height: 50%;
}

/*header {*/
    /*height: 150px;*/
/*}*/



#message_box img {
    height:50px;
    width:auto;
}