html, body {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    /*background-color: red;*/
}

.myarticle {
    height: 100px;
    overflow-y: auto;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

/*div.left{*/
/*height:100%;*/
/*width: auto;*/
/*}*/
div.right {
    height: 100%;
}

.simpleBorder {
    border: 1px solid red;
}

#description {
    border: 2px #0088cc solid;
    height: 50%;
}

header {
    height: 150px;
}

#img-target {
    width: 95%;
    height: 95%;
    /*object-fit: contain;*/
    object-fit: cover;
    overflow: hidden;
}

#img-target.mousein {
    width: 80%;
    height: 80%;
}

#icon-target {
    height: 100%;
    width: 150px;
    float: left;
}

#icon-target.mousein {
    border: 5px #e6e6e6 solid;
}